<section class="section_layout353 border-bottom">
    <div class="gradient_background-wrapper">
        <div class="gradient-background w-embed"><svg width="100%" height="1400" viewBox="0 0 1440 1919" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.54" filter="url(#filter0_f_277_5222)">
                    <path
                        d="M1527.2 787.031C1566.58 947.339 1479.8 1106.45 1333.38 1142.42C1186.96 1178.38 1036.35 1077.58 996.969 917.273C979.022 844.209 983.203 754.792 1006.93 675.7C1035.26 581.257 1091.47 501.538 1171.16 481.964C1249.5 462.721 1265.02 612.873 1333.31 681.38C1392.65 740.91 1508.89 712.497 1527.2 787.031Z"
                        fill="#FFC691"></path>
                </g>
                <g opacity="0.54" filter="url(#filter1_f_277_5222)">
                    <path
                        d="M2.942 783.647C-12.4505 642.896 79.2872 517.398 207.844 503.339C336.4 489.28 453.094 591.984 468.487 732.735C475.502 796.885 461.858 872.444 432.757 937.017C398.009 1014.12 341.223 1075.57 271.259 1083.22C202.473 1090.74 206.219 961.315 155.884 895.359C112.144 838.045 10.0986 849.088 2.942 783.647Z"
                        fill="#5D76F7"></path>
                </g>
                <g filter="url(#filter2_f_277_5222)">
                    <path
                        d="M553.883 107.47C654.193 213.153 657.259 373.098 560.732 464.717C464.205 556.337 304.637 544.935 204.327 439.252C158.609 391.085 122.702 320.7 106.299 249.682C86.7122 164.881 94.9345 79.1764 147.467 29.3146C199.115 -19.7072 276.692 88.624 359.015 111.278C430.55 130.963 507.245 58.3331 553.883 107.47Z"
                        fill="white"></path>
                </g>
                <defs>
                    <filter id="filter0_f_277_5222" x="217.526" y="-288.071" width="2087.51" height="2206.11"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                        <feGaussianBlur stdDeviation="384.173" result="effect1_foregroundBlur_277_5222">
                        </feGaussianBlur>
                    </filter>
                    <filter id="filter1_f_277_5222" x="-806.16" y="-305.364" width="2083.87" height="2196.31"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                        <feGaussianBlur stdDeviation="403.708" result="effect1_foregroundBlur_277_5222">
                        </feGaussianBlur>
                    </filter>
                    <filter id="filter2_f_277_5222" x="-424.335" y="-504.193" width="1576.42" height="1551.72"
                        filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
                        <feGaussianBlur stdDeviation="260.457" result="effect1_foregroundBlur_277_5222">
                        </feGaussianBlur>
                    </filter>
                </defs>
            </svg></div>
    </div>
    <div class="decorative_pattern-wrapper is-left"
        style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
        <img src="https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650b040c9f857da10a7967ac_Square.svg"
            loading="lazy" alt="" class="grid-small-image"
            style="will-change: transform; transform: translate3d(39.992px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
    </div>
    <div class="section_shadow-wrapper"><img
            src="https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650857a47879a73d106eb190_shadow.png"
            loading="lazy" sizes="(max-width: 1176px) 100vw, 1176px"
            srcset="https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650857a47879a73d106eb190_shadow-p-500.png 500w, https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650857a47879a73d106eb190_shadow-p-800.png 800w, https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650857a47879a73d106eb190_shadow-p-1080.png 1080w, https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650857a47879a73d106eb190_shadow.png 1176w"
            alt="" class="shadow"></div>
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="w-layout-grid layout353_component">
                    <div class="layout353_content-left">
                        <h2 class="heading-style-h2">How does it work?</h2>
                        <div class="spacer-small"></div>
                        <p class="text-size-large text-weight-medium">We’re looking for A players ready to take one of
                            our SaaS to the next level.</p>
                    </div>
                    <div id="w-node-_1f653c40-31e3-ed1e-8b9a-f8aa6d09f372-53814e33" class="layout353_content-right">
                        <div class="layout353_content-item content-item-1">
                            <div data-w-id="0a69127f-6e96-5b3f-f403-3628e65a0f27"
                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                class="layout305_item-icon-wrapper text-align-center">
                                <p class="heading-style-h2 text-color-dw-gradient">1</p>
                            </div>
                            <div class="spacer-xsmall"></div>
                            <h3 class="heading-style-h3">Apply to become a manager</h3>
                            <div class="spacer-xsmall"></div>
                            <p class="text-size-regular text-weight-medium">Using our form below, so we can review your
                                profile.</p>
                        </div>
                        <div class="layout353_content-item content-item-2">
                            <div data-w-id="90bd7a8d-b6ee-251e-54cd-2cd93aa4decd"
                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                class="layout305_item-icon-wrapper text-align-center">
                                <p class="heading-style-h2 text-color-dw-gradient">2</p>
                            </div>
                            <div class="spacer-xsmall"></div>
                            <h3 class="heading-style-h3">Follow our recruiting process</h3>
                            <div class="spacer-xsmall"></div>
                            <p class="text-size-regular text-weight-medium">We get to know each other through interviews
                                to see if we can work together.</p>
                        </div>
                        <div class="layout353_content-item content-item-3">
                            <div data-w-id="575b7ec1-0018-5d37-934f-479044676092"
                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                class="layout305_item-icon-wrapper text-align-center">
                                <p class="heading-style-h2 text-color-dw-gradient">3</p>
                            </div>
                            <div class="spacer-xsmall"></div>
                            <h3 class="heading-style-h3">Get matched with an idea</h3>
                            <div class="spacer-xsmall"></div>
                            <p class="text-size-regular text-weight-medium">We pitch you ideas that match your
                                personality, skills and aspirations.</p>
                        </div>
                        <div class="layout353_content-item content-item-4">
                            <div data-w-id="a4af683c-6d0a-609a-92ed-221cba0ec52a"
                                style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                class="layout305_item-icon-wrapper text-align-center">
                                <p class="heading-style-h2 text-color-dw-gradient">4</p>
                            </div>
                            <div class="spacer-xsmall"></div>
                            <h3 class="heading-style-h3">Launch your SaaS</h3>
                            <div class="spacer-xsmall"></div>
                            <p class="text-size-regular text-weight-medium">With your dedicated team of experts to
                                design an MVP and implement a finely-tuned strategy.</p>
                        </div>
                        <div class="layout353_content-item content-item-5">
                            <div data-w-id="85b8fcc1-ebe6-58a8-dd74-b6ec7027fbbe" style="opacity: 0;"
                                class="layout305_item-icon-wrapper text-align-center">
                                <p class="heading-style-h2 text-color-dw-gradient">5</p>
                            </div>
                            <div class="spacer-xsmall"></div>
                            <h3 class="heading-style-h3">Fly with your own wings</h3>
                            <div class="spacer-xsmall"></div>
                            <p class="text-size-regular text-weight-medium">Once we’ve found the right market fit and
                                the incubation period is over, we’ll leave you in charge. But don’t worry, we stay in
                                touch! Because you’re now a member of the Dotworld community.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="character_doodles-wrapper text-align-center"><img
            src="https://cdn.prod.website-files.com/65083ad937315abf61e1910f/650b08af56fe1bd6d753b091_Team%20Wrapper.svg"
            loading="eager"
            style="opacity: 0; will-change: transform; transform: translate3d(99.98px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
            data-w-id="8f754d01-4b40-90c8-6623-acb6b1e656f3" alt="" class="character_doodles-image"></div>
</section>